.selector{
    padding-top: 20px;
    --border-radius: 10px;
    --border-width: 1px;
    --highlight-background: var(--ion-color-primary);
    --highlight-color-valid: var(--ion-color-primary);
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Sfondo grigio trasparente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-overlay ion-spinner {
    color: var(--ion-color-primary); /* Colore dell'icona di caricamento */
    width: 40px;
    height: 40px;
  }