ion-toolbar {
    --background: var(--ion-color-primary);
}

/* BUTTON and TIMER */

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Aggiunto per centrare gli elementi lungo l'asse trasversale (orizzontale) */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    text-align: center; /* Aggiunto per centrare il testo all'interno del contenitore */
}


.start-button {
    --border-radius: 100%;
    width: 220px;
    height: 220px;
    font-size: 30px;
    font-weight: bold;
}

.timer {
    font-size: 50px;
    margin-bottom: 30px;
}

.logout-button {
    --background: #eb445a;
    height: 50px;
    width: 40%;
    border-radius: 20px;
}

.header {
    text-align: center;
    padding-left: 0;
}

.bold {
    font-weight: bold;
    font-size: 18px;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Exit button */
.div-center {
    display: flex;
    align-items: center;
    justify-content: center;
}