<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      BusBuddy Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div *ngIf="loading" class="loading-overlay">
    <ion-spinner></ion-spinner>
  </div>

  <div id="container">

    <ion-item lines="none" style="width: 100%; margin-bottom: 30px;">
      <ion-icon slot="start" aria-hidden="true" name="bus-outline" size="large"></ion-icon>
      <ion-label class="label">
        <div class="bold" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{
          bus.route.code.split('_')[0] }} - {{ destination }}</div>
        <div>{{bus.route.company}}</div>
        <div>Codice: {{bus.code}}</div>
      </ion-label>
    </ion-item>

    <!--
    <ion-button class="start-button" *ngIf="!tracking" (click)="startTracking()"
      [disabled]="this.bus.id == ''">AVVIA</ion-button>
    <ion-button class="start-button" *ngIf="tracking" (click)="requestStopTracking()">STOP</ion-button>
    <br>
    -->

    <ion-label class="timer">{{ timerValue }}</ion-label>

    <div *ngIf="!tracking" class="image-container">
      <ion-img src="../../assets/bus-animation-no-bg-stop.gif" class="centered-image"></ion-img>
    </div>


    <div *ngIf="tracking" class="image-container">
      <ion-img src="../../assets/bus-animation-no-bg.gif" class="centered-image"></ion-img>
    </div>

    <br>

    <div>
      <ion-button class="logout-button" (click)="logout()" [disabled]="tracking">
        Esci
      </ion-button>

      <ion-button class="squared-button" *ngIf="!tracking" (click)="startTracking()"
        [disabled]="this.bus.id == ''">AVVIA</ion-button>
      <ion-button class="squared-button" *ngIf="tracking" (click)="requestStopTracking()">STOP</ion-button>
    </div>

  </div>

</ion-content>