.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    //height: 100vh;
    /* Imposta l'altezza al 100% dell'altezza dello schermo */
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: var(--ion-color-primary);
}

.subtitle {
    margin-top: 10px;
    font-size: 16px;
}

.input {
    padding-top: 20px;
    --border-radius: 10px;
    --border-width: 1px;
    --highlight-background: var(--ion-color-primary);
}

.invalid-input {
    --highlight-background: var(--ion-color-primary);
}

.invalid-input {
    --highlight-background: var(--ion-color-danger);
}

.wrong-input{
    --border-color: var(--ion-color-danger);
}


.login-button{
    margin-top: 40px;
    height: 55px;
    --border-radius: 10px;
}