#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
}

.modal-rounded::part(handle) {
    background-color: var(--ion-color-primary);
    /* Cambia il colore di sfondo della barra di handle */
    height: 4px;
    /* Imposta l'altezza della barra di handle */
    width: 72px;
    margin-top: 10px;
    /* Imposta il margine superiore della barra di handle */
}

.modal-rounded::part(content) {
    border-radius: 20px 20px 0 0px; // Here the border radius
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 15%);
    padding-top: 10px;
}

.bold {
    font-weight: bold;
    font-size: 18px;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin-top: -2.4em;
}


li {
    width: 1.25em; //diametro del pallino
    height: 1.25em;
    //line-height: 1em;
    border-radius: 1em;
    background: var(--ion-color-primary);
    margin: 5em -1em; //margine tra i pallini
    color: #fff;
    position: relative;

    color: var(--ion-color-contrast);
    //font-weight: bold;
}

//linee tra i pallini
li::before {
    content: '';
    position: absolute;
    bottom: 1.2em;
    left: 0.4em;
    /* width: 4em; */
    width: .5em;
    height: 5.2em;
    background: var(--ion-color-primary);
    z-index: -1;
}

li::after {
    content: attr(data-content) '\a Arrivo: 17:52 \a Ritardo: +5 min' url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='14' width='85'><text style='alignment-baseline:hanging;font-size:14px;font-family:Arial,sans-serif;fill:#000;'><tspan style='alignment-baseline:inherit;font-weight:bold;'>Bold</tspan> not bold</text></svg>");
    white-space: pre-wrap;
    /* Per consentire al testo di andare a capo */
    font-weight: bold;
    font-size: 17px;

    position: absolute;
    top: -1.0em;
    left: 2em; //margine sinistro del testo
    width: 18em;
    height: .2em;
    background: transparent;
    z-index: -1;
}




li:first-child::before {
    display: none;
}

.active {
    background: var(--ion-color-primary);
}

.active~li {
    background: var(--ion-color-primary-tint);
}

.active~li::before {
    background: var(--ion-color-primary-tint);
}

.div-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    padding-left: 0;

}

.start-button {
    --border-radius: 100%;
    width: 220px;
    height: 220px;
    font-size: 30px;
    font-weight: bold;
}

.big-label{
    font-size: 50px;
}




.top-segment {
    position: sticky;
    top: 0;
    z-index: 1100;

    /* Assicura che il segmento sia sopra all'header */
    --background: var(--ion-item-background);

    //imposta il colore di sfondo bianco per il tema chiaro
    @media (prefers-color-scheme: light) {
        --background: #fff;
    }

    margin-top: -30px;
    /* Sposta il segmento sopra lo spazio bianco */
    //padding-top: 10px;
}

.blank-space {
    position: sticky;
    top: -20px;
    z-index: 1000;
    height: 22px;


    background: var(--ion-item-background);

    //imposta il colore di sfondo bianco per il tema chiaro
    @media (prefers-color-scheme: light) {
        background: #fff;
    }
}
